@import "tailwindcss";
@reference "tailwindcss";

@theme {
  --bg-pattern-2: url("/frontpage.png");
  --bg-pattern-app: url("/get-app.jpg");
}

@layer components {
  .btn_dark_gray {
    @apply bg-gradient-to-br from-blue-500 to-green-400 px-10 py-3 text-white transition-all rounded-full;
  }

  .btn_white {
    @apply border-white bg-white px-8 py-3 text-green-500;
  }

  .btn_white_text {
    @apply bg-white text-gray-800 border border-none py-2 px-4 px-8 py-3 hover:bg-gray-50 rounded-full;
  }
  /* .btn_gray {
    @apply bg-gray-150 px-8 py-4 text-white transition-all hover:bg-black;
  } */

  .btn_red {
    @apply bg-red-500 px-8 py-4 text-white transition-all hover:bg-red-600;
  }

  /* SCHIMBA CULORILE CA NU SE POTRIVWSC */
  .btn_dark_green {
    @apply bg-green-500 px-8 py-4 text-white transition-all hover:bg-black;
  }
  .btn_dark_green_outline {
    @apply border-gray-50 bg-green-500 px-8 py-5 text-white;
  }

  /* Gradient color */
  .btn_gradient_green_blue {
    @apply w-full py-3 bg-gradient-to-r from-green-500 to-blue-500 hover:from-green-400 hover:to-blue-400 
    text-white rounded-lg shadow-md transition duration-300 flex items-center justify-center;
  }

  .text-stroke-3 {
    text-shadow: -1.1px -1.1px 0 black, 1.1px -1.1px 0 black,
      -1.1px 1.1px 0 black, 1.1px 1.1px 0 black;
  }

  .regular-16 {
    @apply text-[16px] font-[400];
  }

  .bold-40 {
    @apply text-[35px] font-[700] leading-[120%];
  }

  /*Hero-map */
  .hero-map {
    background-image: var(--bg-pattern-2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @apply mx-auto w-[90%] max-w-[1200px] min-h-[300px] sm:h-[350px] md:h-[600px] lg:h-[450px] xl:h-[500px] rounded-2xl;
  }

  /* Get App */
  .get-app {
    background-image: var(--bg-pattern-app);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2rem;

    @apply relative flex w-full flex-col justify-between gap-32 overflow-hidden
      bg-cover bg-center bg-no-repeat px-6 py-12 text-white;
  }
}

/* Fade-in effect for recipe */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink 0.8s infinite;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.typewriter-container {
  position: relative;
}

.recipe-content {
  opacity: 1;
}

/* The AI generated recipe body */
.recipe-content body {
  font-family: "Merriweather", serif;
  color: #444;
  line-height: 1.8;
}

.recipe-content h1,
.recipe-content h2 {
  color: #2d6a4f;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.recipe-content p {
  margin-bottom: 1rem;
  text-align: justify;
}

.recipe-content ul {
  margin-left: 1.5rem;
  padding-left: 1rem;
}

.recipe-content ul {
  list-style-type: disc;
}
